<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Pasien</title>
    <!-- Bootstrap -->
    <object th:include="fragment/fragment :: bootstrap" th:remove="tag"></object>
</head>
<body>
<!-- Navbar -->
<div th:include="fragment/fragment :: navbar" th:remove="tag"></div>

<div class="container-fluid">
    <h2 class="mb-2">Tambah Pasien</h2>
    <form th:object="${pasien}" th:action="@{/pasien/tambah}" method="post">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Nama</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="nama" th:field="${pasien.nama}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">NIK</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="nik" th:field="${pasien.nik}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Jenis Kelamin</label>
            <div class="col-sm-2">
                <select class="form-control" name="jenisKelamin" th:field="${pasien.jenisKelamin}">
                    <option value="1">Laki-laki</option>
                    <option value="2">Perempuan</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tanggal Lahir</label>
            <div class="col-sm-2">
                <input type="date" class="form-control" name="tanggalLahir" th:field="${pasien.tanggalLahir}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Tempat Lahir</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" name="tempatLahir" th:field="${pasien.tempatLahir}">
            </div>
        </div>

        <div class="form-group row" th:each="asuransiPasien, iterStat : ${pasien.listAsuransi}">
            <label class="col-sm-2 col-form-label" th:text="${iterStat.index} == 0 ? 'Asuransi' : ''"></label>
            <div class="col-sm-2">
                <select class="form-control" th:field="${pasien.listAsuransi[__${iterStat.index}__].asuransi.id}">
                    <option value="0" disabled>-- Pilih Asuransi --</option>
                    <option th:each="asuransi : ${listAllAsuransi}" th:value="${asuransi.id}" th:text="${asuransi.nama}"></option>
                </select>
            </div>
        </div>
        <label class="col-sm-2 col-form-label"></label>
        <button type="submit" class="btn btn-sm btn-secondary mb-4" name="addAsuransi">Tambah Asuransi</button>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Emergency Contact Name</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" th:field="${pasien.emergencyContact.nama}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Emergency Contact NIK</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" th:field="${pasien.emergencyContact.nik}">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Emergency Contact Phone</label>
            <div class="col-sm-2">
                <input type="text" class="form-control" th:field="${pasien.emergencyContact.noHp}">
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

</body>
</html>