<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Diagnosis Penyakit</title>
    <!-- Bootstrap -->
    <object th:include="fragment/fragment :: bootstrap" th:remove="tag"></object>
</head>
<body>
<!-- Navbar -->
<div th:include="fragment/fragment :: navbar" th:remove="tag"></div>

<div class="container">
    <h1 class="text-center mb-3">Sistem Informasi Pasien</h1>
    <a th:href="@{/diagnosis-penyakit/tambah}">
        <button type="button" class="btn btn-primary">Tambah Diagnosis Penyakit Baru</button>
    </a>

    <div class="card mt-3 mb-3">
        <div class="card-header bg-dark text-white">Daftar Diagnosis Penyakit</div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>No</th>
                            <th>Nama</th>
                            <th>Kode</th>
                            <th>Jumlah Pasien Terdiagnosis</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="diagnosisPenyakit, iterStat : ${listDiagnosisPenyakit}">
                            <td th:text="${iterStat.count}"></td>
                            <td th:text="${diagnosisPenyakit.nama}"></td>
                            <td th:text="${diagnosisPenyakit.kode}"></td>
                            <td th:text="${diagnosisPenyakit.getListPasien().size()}"></td>
                            <td>
                                <div class="container-fluid row">
                                    <a th:href="@{/diagnosis-penyakit(idDiagnosis = ${diagnosisPenyakit.id})}" class="mr-1">
                                        <button type="button" class="btn btn-primary">Lihat</button>
                                    </a>
                                    <button type="button" class="btn btn-dark mr-1" >Ubah</button>
                                    <form th:action="@{'/diagnosis-penyakit/hapus/' + ${diagnosisPenyakit.id}}" method="POST">
                                        <button type="submit" class="btn btn-danger">Hapus</button>
                                    </form>
                                </div>

                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>